@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

a {
    text-decoration: none;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* Index */

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 8px;
}

.portrait {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 60%;
}

.photographer_section .location {
    font-size: 15px;
    color: #901C1C;
}

.photographer_section .tagline {
    font-size: 11px;
}

.photographer_section .price {
    font-size: 10px;
    color: #757575;
}

/* Photographer page */

.photograph-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.photograph-header h2 {
    font-size: 64px;
    color: #D3573C;
    margin: 0px;
}

.photograph-header .location {
    font-size: 24px;
    color: #901C1C;
}

.header_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}